.HelloWorld_color{
  color: red;
}

.BlueMarine{
  color: rgb(65, 65, 252);
}

.label_button{
  border: solid red;
  display: flex;
  margin: 10px;
  
  button{
    margin: 10px;
  }
}

.barre_text{
  display: flex;
  p{
    margin: 10px;
  }
}

.ul_Todo_liste{
  border: solid red;

  div{
    margin: 10px;
    display: flex;
  }
}